*.log
*.2-4piaOnJ2RBoGOQZkRs8xiL
*.cache
*.5-SfIbXu0yp248VtSlefmvC
*.0-BsAGxfp8yAs3CiRo2E875e
.stack-work/install/3573363d/flag-cache/case-insensitive-1.2.0.10-1D5OUKQ7UrJ7IpOe0di4Un
*.9-4ZCjpYkzjXoPfa9O6IxT